In [11]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [12]:
# NASA Mars News

# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.

#Assign the text to variables that you can reference later.

In [13]:
# Set Executable Path & Initialize Chrome Browser
!which chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

/usr/local/bin/chromedriver

In [14]:
 # URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [15]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [16]:
# Examine the results, then determine element that contains sought info
# print(soup.prettify())

In [17]:
# results are returned as an iterable list
title = soup.find_all("div", class_="content_title")
par_text = soup.find("div", class_="article_teaser_body")
print(title[1].text)
print(par_text.text)

The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.

In [18]:
news_title = title[1].text
news_p = par_text.text
news_title

"The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover"

In [19]:
news_p

'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'

In [20]:
# JPL Mars Space Images - Featured Image


# Visit the url for JPL Featured Space Image here.

# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

# Make sure to find the image url to the full size .jpg image.

# Make sure to save a complete url string for this image.

In [32]:
#JPL Mars Space Images - Featured Image
feat_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(feat_url)

In [33]:
feat_html = browser.html
feat_soup = BeautifulSoup(feat_html,'html.parser')

In [34]:
full_button = feat_soup.find('a', class_='button fancybox')
full_button

<a class="button fancybox" data-description="This image, containing data from NASA's Spitzer and Chandra space telescopes, shows a cluster of young stars expected to burn for billions of years." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19347_ip.jpg" data-link="/spaceimages/details.php?id=PIA19347" data-title="Cosmic Sparklers" id="full_image">
					FULL IMAGE
				  </a>

In [37]:
full_img = feat_soup.find('a', {'id': 'full_image', 'data-fancybox-href': True}).get('data-fancybox-href')
full_img

'/spaceimages/images/mediumsize/PIA19347_ip.jpg'

In [38]:
orig_url = "https://www.jpl.nasa.gov"
featured_image_url = orig_url + full_img
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19347_ip.jpg'

In [39]:
# Mars Facts


# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


# Use Pandas to convert the data to a HTML table string.

In [49]:
mars_facts_url = 'https://space-facts.com/mars/'

In [50]:
# Use Panda's `read_html` to parse the url
tables_found = pd.read_html(mars_facts_url)
tables_found

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [51]:
mars_facts_df = tables_found[0]
mars_facts_df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [60]:
mars_html_table = mars_facts_df.to_html()
print(mars_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Mars Hemispheres


# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

# You will need to click each of the links to the hemispheres in order to find the image url to the full
#resolution image.

# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title
#containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain
#one dictionary for each hemisphere.